html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 500;
	color: white;
	opacity: 0.87;
	margin-bottom: 0;
}

h2 {
	font-weight: 400;
	color: white;
	opacity: 0.87;
	margin-top: 0;
	text-align: center;
}

p {
	font-weight: 400;
	color: white;
	opacity: 0.87;
}

body {
	margin: 0;
	height: 100%;
}

main {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

header {
	background: #170d0c;
	width: 300px;
}

section {
	background: #b0bec5;
	width: auto;
	flex-grow: 1;
	overflow-y: auto;
}

.hamburger {
	float: right;
}

.logo {
	width: auto;
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 21px;
	margin-right: 21px;
	margin-top: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.me-container {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
}

.box-link {
	width: 50%;
}

.box-whole {
	width: 100%;
}

.box-hamburger {
	display: none;
}

.nav-link {
	text-align: center;
}

.job-title {
	margin-top: 0;
	margin-left: 32px;
}

.contact {
	margin-left: 32px;
}

.projects-container {
	width: 1480px;
	margin-top: 56px;
	margin-bottom: 56px;
	margin-left: auto;
	margin-right: auto;
}

.project-box {
	width: 25%;
}

.card {
	background: #fff;
	border-radius: 2px;
	display: block;
	height: 330px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 0;
	margin-bottom: 40px;
	position: relative;
	width: 320px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.light-icon {
	color: #fff;
}

.my-name {
	margin-left: 32px;
}

.box-icon {
	display: inline-flex;
}

.linked-in-icon {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 8px;
}

.projects-header {
	margin-top: 0;
	font-size: 30pt;
	opacity: 0.87;
	width: 100%;
}

@media screen and (min-width: 1781px) {
}

@media screen and (min-width: 1411px) and (max-width: 1780px) {
	.projects-container {
		width: 1110px;
	}

	.project-box {
		width: 33.33%;
	}
}

@media screen and (min-width: 1041px) and (max-width: 1410px) {
	.projects-container {
		width: 740px;
	}

	.project-box {
		width: 50%;
	}
}

@media screen and (min-width: 671px) and (max-width: 1040px) {
	.projects-container {
		width: 370px;
	}

	.project-box {
		width: 100%;
	}
}

@media screen and (min-width: 421px) and (max-width: 670px) {
	header {
		width: 100%;
	}

	.projects-container {
		width: 370px;
	}

	.project-box {
		width: 100%;
	}

	.me-container {
		margin-top: 0;
		text-align: center;
	}
}

@media screen and (max-width: 420px) {
	header {
		width: 100%;
	}

	.container {
		height: 100%;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.me-container {
		margin-top: 0;
	}

	.logo {
		margin-top: 0;
		margin-left: 0;
	}

	.link-container {
		display: none;
	}

	.link-container-open {
		display: block;
	}

	.box-link {
		width: 100%;
		height: 40px;
	}

	.my-name {
		margin-top: 10px;
		text-align: left;
	}

	.job-title {
		margin-bottom: 10px;
		text-align: left;
	}

	.contact {
		display: none;
	}

	.projects-container {
		margin: 0;
		width: 100%;
	}

	.project-box {
		width: 100%;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #999;
	}

	#name-box {
		width: 80%;
	}

	.box-hamburger {
		width: 20%;
		padding-top: 17px;
		padding-bottom: 17px;
		display: inline;
	}

	.card {
		background: transparent;
		border-radius: 0;
		display: flex;
		position: relative;
		width: 100%;
		box-shadow: none;
		margin: 0;
		height: 80px;
	}

	.projects-header {
		display: none;
	}
}
