html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 500;
	color: white;
	opacity: 0.87;
	margin-bottom: 0;
}

h2 {
	font-weight: 400;
	color: white;
	opacity: 0.87;
	margin-top: 0;
	text-align: center;
}

p {
	font-weight: 400;
	color: white;
	opacity: 0.87;
}

body {
	margin: 0;
	height: 100%;
}

main {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

header {
	background: #170d0c;
	width: 300px;
}

section {
	background: #b0bec5;
	width: auto;
	flex-grow: 1;
	overflow-y: auto;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	width: auto;
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 21px;
	margin-right: 21px;
	margin-top: 50px;
}

.link-container {
	display: flex;
	flex-wrap: wrap;
}

.box#link {
	width: 50%;
}

.nav-link {
	text-align: center;
}

.container#my-info {
	margin-top: 100px;
	margin-left: 32px;
}

.box#name-title {
	width: 100%;
}

.job-title {
	margin-top: 0;
}

.box#hamburger {
	display: none;
	width: 20%;
	padding-top: 17px;
	padding-bottom: 17px;
}

img#hamburger {
	float: right;
}

.container#contact {
	margin-left: 32px;
}

p#email {
	width: 100%;
}

.container#contact-links {
	display: inline-flex;
}

.box#linkedin {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 8px;
}

.light-icon {
	color: white;
}

.container#projects {
	width: 1480px;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
}

h3#projects-header {
	margin-top: 0;
    font-size: 30pt;
    opacity: 0.87;
    width: 100%;
}

.box#project {
	width: 25%;
}


@media screen and (min-width: 1411px) and (max-width: 1780px) {
	.container#projects {
		width: 1100px;
	}

	.box#project {
		width: 33%;
	}
}

@media screen and (min-width: 1041px) and (max-width: 1410px) {
	.container#projects {
		width: 720px;
	}

	.box#project {
		width: 50%;
	}
}

@media screen and (min-width: 671px) and (max-width: 1040px) {
	.container#projects {
		width:360px;
	}

	.box#project {
		width: 100%;
	}
}


@media screen and (min-width: 421px) and (max-width: 670px) {
	header {
		width: 100%;
	}

	.container#my-info {
		margin-top: 0;
		text-align: center;
	}

	.container#contact {
		display: block;
		text-align: center;
	}

	.container#projects {
		width: 340px;
	}

	.box#project {
		width: 100%;
	}

}

@media screen and (max-width: 420px) {
	.container {
		flex-wrap: nowrap;
		flex-direction: column;
	}

	header {
		width: 100%;
	}

	.logo {
		margin-top: 0;
		margin-left: 0;
	}

	.link-container {
		display: none;
	}

	.link-container-open {
		display: block;
	}

	.container#my-info {
		margin-top: 0;
		flex-wrap: wrap;
		flex-direction: initial;
	}

	.box#name-title {
		width: 80%;
	}

	.box#hamburger {
		display: inline;
	}

	.container#contact {
		display: none;
	}

	.container#projects {
		margin: 0;
	}

	h3#projects-header {
		display: none;
	}

	.my-name {
		margin-top: 10px;
		text-align: left;
	}

	.job-title {
		margin-bottom: 10px;
		text-align: left;
	}

	.box#link {
		width: 100%;
		height: 40px;
	}

	.container#projects {
		width: 100%;
	}
	.box#project {
		width: 100%;
		height: 80px;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #999;
	}
}
